.main__form {
	margin: 2rem 0;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__title {
	color: #596e07;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.form__employee{
	display: flex;
	flex-direction: column;
}