.header{
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem ;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.header__link{
	display: grid;
	justify-items: center;
	align-items: center;
}

.header__logo{
	max-width: 10rem;
	grid-column: 1;
  grid-row: 1;
}

.header__title{
  grid-column: 1;
  grid-row: 1;
	height: max-content;
	font-size: 2rem;
	color: black;
}

.nav{
	display: flex;
	width: 100%;
	font-size: 1.5rem;
	gap: 1rem;
}

.nav__option{
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 1rem;
	color: black;
}

.nav__option:hover{
	background-color: #93ad18;
	color: white;
}

.nav .active{
	background-color: #93ad18;
	color: white;
}